.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
}

.clients > img {
  margin: 10px;
}

.title {
  text-align: center;
  color: var(--color-main);
}

.clientstitle {
  padding: 20px;
}