.reserved {
    width: 100%;
    background-color: #767c7c;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .footer {
    padding-top: 1.2px;
  }
  
  .footercontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 0px 20px 0px 20px;
  }
  
  .contactUs {
    text-align: end;
    width: 333px;
  }
  
  .footercontainer > p {
    width: 333px;
  }