/* Mediaquery 750px */

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: sans-serif;
  --color-main: #a98261;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-figtree: "Figtree", sans-serif;
}

body {
  font-family: var(--font-figtree);
}


html,
body {
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

body > main {
  width: 100vw;
}

/* @font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Black.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Thin.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
  /* background: linear-gradient(180deg, #ededed 0%, rgba(255, 255, 254, 0) 100%); */
  /* font-family: 'Lato', sans-serif !important; */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 19rem;
}

.embla__container{
  position: relative;

}

.embla__arrow{
  position: absolute;
  z-index: 1;
  top: -35px;
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
  height: 100vh;
  max-height: 670px !important;
}
.embla__slide__img {
  display: block;
  height: 100% !important;
  max-height: 670px !important;
  width: 100% !important;
  object-fit: cover;
}
.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.embla__slide__text {
  position: absolute;
  top: 55vh;
  left: 10px;
  color: white;
  width: 360px;
  font-size: xx-large;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
}

.link {
  color: var(--color-main);
  text-decoration: none
}

.button {
  text-align: -webkit-right;
  margin-top: 10px;
}

.button > button {
  background-color: var(--color-main);
  border-color: #977051;
  cursor: pointer;
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  display: block;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  user-select: none;
  border: none;
  padding: 8px;
  border-radius: 5px;
}

.mobile {
  display: none;
}

.desktop {
  display: unset;
}

@media (max-width: 800px) {
  .mobile {
    display: unset;
  }
  .desktop {
    display: none;
  }
  .embla__slide {
    max-height: 1080px !important;
  }
  .embla__slide__img {
    max-height: 1080px !important;
  }
}

.container{
  max-width: 1540px;
  width: 100%;
  margin: auto;
  padding: 0px 40px;
}

.header{
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.644);
}

.header__container{
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.header__titulo{
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 25px;
}

.header__titulo-srls{
  font-size: 14px;
  margin-top: 5.5px;;
}

.navBar{
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .navBar{
    display: none;
  }
  .header__titulo{
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    font-size: 22px;
  }
  
  .header__titulo-srls{
    font-size: 10px;
    margin-top: 5.5px;;
  }
}

/* MobileMenu.module.css */

.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menuButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  width: 30px;
}

.menuItems {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px; /* Ajusta según tu diseño */
  right: 0px; /* Ajusta según tu diseño */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 50%;
}

.menuItems a {
  border-bottom: 1px solid gray;
  text-decoration: none;
  color: black;
  padding: 10px;

}

.menuItems a:last-child {
  border-bottom: none;
}

@media (min-width: 801px) {
  .mobileMenu {
    display: none;
  }
}

.navBar__contact{
  background-color: #61493B;
  border-radius: 17.5px;
  padding: 4px 10px;
  color: white;
}

.PageTitle{
  margin: 200px 0px 130px 0px;
  background-color: rgba(255, 255, 255, 0);
}

.PageTitle__subtitle{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
  
}

.PageTitle__title{
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  display: flex;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.PageTitle_title--text{
  max-width: 813px;
}

.PageTitle_title--color{
  color: #61493B;
}

.PageTitle__title-align{
  font-weight: 700;

}

@media (max-width: 750px) {
  .PageTitle__title{
    font-size: 46px;
    line-height: 47.2px;

  }
}

@media (max-width: 450px) {
  .PageTitle__title{
    font-size: 36px;
    line-height: 37.2px;

  }
}

/* Services */

.services{
  margin-top: 60px;
}

.services__top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}

.services__top-title{
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  width: 70%;
}

b{
  font-weight: 800;
}

.services__top-subtitle{
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 40px;
  width: auto;
}

@media (max-width: 1150px) {

  .services__top{
    flex-direction: column; 
  }

  .services__top-title{
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }

  .services__top-subtitle{
    margin-left: 0px;
    text-align: center;
    width: 100%;
  }
}

.services__grid{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 50px;
  position: relative;
}

@media (max-width: 1000px) {
  .services__grid{
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 560px) {
  .services__grid{
    grid-template-columns: 100%;
  }
  .services__looper{
    display: none;
  }
}
@media (max-width: 660px) {
  .services__learnMore-container{
    flex-direction: column;
    gap: 20px;
  }
  .services__learnMore-looper{
    display: none;
  }
}

.serviceBox{
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px 25px;
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.serviceBox__text{
    font-size: 19px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 15px;
}

.services__looperContainer{
  position: relative;
}

.services__looper{
  width: 490px;
  height: 390px;
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: -1;
}

.services__learnMore{
  background-color: #093731;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px 25px;
  height: 176px;
}

.services__learnMore-container{
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden
}

.services__learnMore-text1{
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.services__learnMore-text2{
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.services__learnMore-looper{
  position: absolute;
  width: 230px;
  height: 90px;
  bottom: 0;
  right: 50px;
}

/* Contact */


.contact{
  display: flex;
  justify-content: space-between;
  min-height: 700px;
  margin-top: 20px;
}


.contact__left{
  width: 50%;
}

.contact__right{
  width: 50%;
  background-color: white;
}

.form__container{
  max-width: 600px;
  padding: 50px 35px;
  border-radius: 10px;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 10px 0px #022d321a;

}

.form__title{
  /* font-family: Lato; */
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}


.contact__left-subtitle{
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.04em;
  margin-bottom: 7px;
}

.contact__left-info{
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  margin-bottom: 25px;
}

.contact__left-getin{
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.04em;
  margin-bottom: 15px;
}

.contact__left-title{
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  margin-bottom: 40px;
}

@media(max-width: 850px){
  .contact{
    flex-direction: column;
  }
  .contact__left{
    width: 100%;
    text-align: center;
  }
  .contact__right{
    width: 100%;
  }
  .form__container{
    padding: 20px 15px;
    width: 100%;
    max-width: none;
  }
}

.form__input{
  width: 100%;
  margin-bottom: 18px;
  border: none;
  border-bottom: 1px solid rgb(88, 88, 88);
  padding: 10px 0;
}

.form__input:focus{
  outline: none;
}

.form__input::placeholder{
  font-size: 16px;  
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.form__text{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.form__button{
  margin-top: 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  background-color: white;
  padding: 7px 13px;
  border-radius: 17.5px;
  border: 1px solid #A69286;
  color: #1D1A19;
}

.looper__top{
  position: absolute;
  width: 100%;
  height: 1100px;
  top: 0;
  z-index: -1;
}

/* footer */

footer{
  height: 150px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.footer__right-container{
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
}

.footer__right-item{
  display: flex;
  gap: 5px;
}

.footer__container{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding-top: 35px;
}

.footer__right-info{
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

.footer__right-vat{
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: right;
  margin-top: 20px;

}


.footer__right-rights{
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: right;
  margin-top: 20px;
}

@media (max-width: 950px){
  .footer__container{
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .footer__right-vat{
    text-align: center;
  }
  
  footer{
    height: 300px;
  }
  
  .footer__right-rights{
    text-align: center;
  }
}

@media (max-width: 670px) {

  footer{
    height: 460px;
  }
  .footer__right-container{
    flex-direction: column;
    margin-bottom: 30px;
  }

  .footer__right-linea{
    transform: rotate(90deg);
  }
}

/* Clients */

.clients__title{
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}

.clients{
  margin-top: 40px;
}

.clients__grid{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients__item{
  margin-top: 50px;
}

@media(max-width: 1100px){
  .clients__grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* gap: 20px; */
  }
  .clients__item{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media(max-width: 960px){
  .clients__grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* gap: 40px; */

  }
}

@media(max-width: 650px){
  .clients__grid{
    display: grid;
    grid-template-columns: 50% 50%;
    /* gap: 40px; */

  }
}

@media(max-width: 450px){
  .clients__grid{
    display: grid;
    grid-template-columns: 100%;
    /* gap: 40px; */
  }
}

/* proyects */

.proyects{
  display: grid;
  grid-template-columns: 57% 37%;
  gap: 6%;
  margin-top: 90px;
}

.proyects__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 515px) {
  .proyects{
    grid-template-columns: 100%;
  }
}

/* Intro */

.intro{
  padding-top: 150px;
  position: relative;
}

.intro__content-sub{
  position: relative;
}

.intro__content-sub:after{
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0;
  height: .5rem;
  width: 100%;
  background: #beb1a8b6;
  z-index: -1;
}

.looperContainer{
  position: relative;
}

.intro__looper{
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: red; */
}

.intro__content{
  width: 75%;
  margin-left: auto;
  border-bottom: 1px solid #A69286;
  padding-bottom: 40px;
}

.intro__content-text{
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;  
  margin-bottom: 40px;
}

.intro__content-link{
  width: 184px;
  height: 35px;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 20px;
  border: 1px solid #A69286;
  border-radius: 17.5px;
}

@media (max-width: 500px) {
  .intro__content{
    width: 100%;
  }
  .intro__looper{
    display: none;
  }
}

.intro__content-sub{
  
}

/* About */

.about__title{
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  max-width: 595px;
  margin-bottom: 50px;
  margin-top: 150px;
}

@media (max-width: 900px) {
  .about__title{
    margin-top: 50px;
  }
}

.about__intro{
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  width: 70%;
  margin-left: auto;
  margin-bottom: 80px;
}

@media (max-width: 600px){
  .about__intro{
    width: 100%;
  }
}

.about__founder{
  display: grid;
  grid-template-columns: 30% 65%;
  gap: 5%;
  margin-bottom: 120px;
}

.about__founder-img{
  width: 100%;
  object-fit: cover;
  height: 100%;
  background-color: #F1F0ED;
}

.about__founder-subtitle{
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.about__founder-name{
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  margin-bottom: 20px;
}

.about__founder-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about__founder-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  border-bottom: 1px solid #827F74;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.about__founder-degrees{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__founder-degreesItem{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 250px;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
}

@media (max-width: 1574px){
  .about__ornament{
    left: -22px !important;
  }
}

@media (max-width: 1100px) {
  .about__founder{
    grid-template-columns: 45% 50%;
  }

  .about__founder-degrees{
    flex-direction: column;

  }

  .about__founder-degreesItem{
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 950px){
  .about__founder{
    grid-template-columns: 100%;
  }
  .about__ornament{
    left: -22px !important;
  }
  .about__founder-img{
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 450px){
  .about__founder-img{
    width: 70%;
  }
}

.about__founder-container{
  position: relative;
}

.about__founder-container::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 70px solid white;
  border-left: 150px solid #f1f0ed00;
}

.about__ornament{
  position: absolute;
  z-index: -1;
  left: -50px;
  top: -50px;
}

.about__gallery{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 4.5%;
  margin-bottom: 70px;
}

.about__gallery-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 550px) {
  .about__gallery{
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
  }
}

.about__offer{
  padding: 70px;
  border: 1px solid #CCC9BE;
  margin-bottom: 90px;
}

.about__offer-title{
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  border-bottom: 1px solid #827F74;
  padding-bottom: 25px;
}

.about__offer-text{
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #827F74;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
}

/* services  */

.servicesI__grid{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 5%;
  margin-top: 70px;
  margin-bottom: 100px;
}

.servicesI__title{
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 70px;
  margin-bottom: 120px;
}

.servicesI__item{
  border: 1px solid #CCC9BE;
  position: relative;
  padding: 70px 35px;
  margin-bottom: 70px;
  background-color: white;
}

.servicesI__image{
  background-color: #E0DED7;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;

}

.servicesI__card{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.servicesI__card::before{
  content: "";
  position: absolute;
  top: 65px;
  right: 0;
  border-bottom: 15px solid white;
  border-left: 20px solid #E0DED7;
}

.servicesI__subtitle{
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  margin-bottom: 20px;
}

.servicesI__text{
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
}

@media (max-width: 1000px){
  .servicesI__grid{
    grid-template-columns: 47% 47%;
    gap: 6%;
    margin-bottom: 200px;
  }
  .servicesI__item{
    margin-bottom: 30px;
  }
}

@media (max-width: 700px){
  .servicesI__grid{
    grid-template-columns: 100%;
    gap: 6%;
    margin-bottom: 800px;
  }
}

@media (max-width: 450px){
  .servicesI__grid{
    margin-bottom: 800px;
    gap: 3%;
  }
}


/* Projects */

.projects{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #CCC9BE;
  border-bottom: 1px solid #CCC9BE;
  margin-top: 50px;
  padding-top: 30px;
  margin-bottom: 60px;
}

.noDownload{
  display: none;
}

.projects__title{
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  margin-top: 40px;
}

.projects__left{
  width: 40%;
  padding-right: 30px;
}

.projects__right{
  width: 60%;
}

.project__left-title{
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  margin-top: 15px;
}

.project__left-text{
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  margin-top: 15px;
}

.projects__img{
  width: 100%;
  height: auto;
  background-color: #F1F0ED;
  padding: 40px;
  border-radius: 20px;
}

.projects__img-inner{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.projects__right-item{
  margin-bottom: 25px;
  border-bottom: 1px solid #CCC9BE;
  padding-bottom: 25px;
}

.projects__right-item:last-child{
  border: none;
}

.projects__right-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  margin-bottom: 15px;
}

.projects__right-description{
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  margin-bottom: 15px;
}

.projects__right-download{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  border: 1px solid #A69286;
  border-radius: 17.5px;
  width: 180px;
  padding: 5px 10px;
}

@media (max-width: 700px){
  .projects{
    flex-direction: column;
  }

  .projects__left{
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCC9BE;

  }
  .projects__right{
    width: 100%;
  }
}

/* MODAL */

body{
  position: relative;
}

.cookie-modal{
  margin-top: 100px;
  text-align: center;
  position: fixed;
  z-index: 200;
  bottom: 0px;
  background-color: rgb(95, 95, 95);
  width: 100%;
  padding: 10px;
  color: white;
}

.cookie-modal-button{
  background-color: rgb(55, 159, 55);
  border: 1px solid green;
  padding: 10px 5px;
  margin-top: 10px;
  color: white;
}