

.header {
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100vw;
  }
  
  .headercontainer {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .headerlogo {
    margin-right: 25px;
    width: auto;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    padding: 5px 20px 5px 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 85px;
  }
  
  .headerlinks {
    width: -webkit-fill-available;
    background-color: rgb(118, 124, 124);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    font-size: 16px;
    text-decoration: none;
    padding: 5px 5% 5px 5%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    justify-content: space-around;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    position: absolute;
    right: 0px;
    width: calc(100% - 200px);
  }

  @media (min-width: 530px) and (max-width: 800px)  {
    .headerlinks {
      display: grid;
      text-align: center;
      padding: 5px 17px 5px 5px;
      grid-template-columns: repeat(3, 105px);
      gap: 10px 10px;
      width: auto;
      position: absolute;
      right: 0px;
      align-content: center;
      height: 85px;
    }

    .headerlogo {
      /*width: auto;
      backdrop-filter: blur(3px);
      padding: 30px;
      border-radius: 15px;*/
    }
  }

  @media (max-width: 530px)  {
    .headerlinks {
      display: grid;
      text-align: center;
      padding: 5px 17px 5px 5px;
      grid-template-columns: repeat(2, 105px);
      gap: 10px 10px;
      width: auto;
      position: absolute;
      right: 0px;
      align-content: center;
      height: auto;
    }

    .headerlogo {
      /*width: auto;
      backdrop-filter: blur(3px);
      padding: 30px;
      border-radius: 15px;*/
    }
  }
  
  .headerlinks a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.3rem;
    padding-right: 5px;
    height: 1.3rem;
    padding-left: 5px;
    margin-bottom: 5px;
  }